# redirects

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} robots.txt$ [NC]
RewriteRule ^([^/]+) $1 [L]

RewriteCond %{HTTP_HOST} ^www.ekatyshev\.com
RewriteRule ^(.*)$ http://ekatyshev.com/$1 [R=301,L]